h1{
    color:darkcyan;
}

h2{
    color:olivedrab
}

h3{
    color:darkolivegreen;
}

.roundImage{
    border-radius: 50%;
    max-width: 100%;
    height: 40%;
}

ul{
    color:saddlebrown
}

div{
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

.recImage{
    max-width: 100%;
    height: auto;
}